.breadcrumb-container {
    background-color: #cccccc7e;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

div.list-item {
    display: inline;
}

ul.breadcrumb {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

li.breadcrumb-item {
    display: inline;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.sideCaret {
    width: 10px;
    height: 10px;
}