.Events {
  font-family: inherit;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

table.events {
  margin: 0px auto;
  margin-top: 50px;
  border-radius: 10px;
  width: 75%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 50px;
}

th {
  border-radius: 5px;
  border-bottom: 3px solid #CCCCCC;
  color: white;
  background-color: #EF4F9D;
  height: 70px;
}

td {
  height: 50px;
  border-bottom: 2px solid #CCCCCC;
}

.result-set-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropbtn {
  background-color: #EF4F9D;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 10%;
  display: inline-block;
  border: none;
}

.result-set-dropdown-opened:focus {
    outline: 1px solid #EF4F9D;
}

.race-name-sub-header {
  color: white;
  background-color: #EF4F9D;
  margin-left: auto;
  padding: 0 1rem;
  margin-bottom: auto;
  width: 100%;
  display: flex;
}

.race-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 3px;
  margin-top: 9px;
  margin-right: 20px;
}
