.Races {
    font-family: inherit;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

table.races {
    margin: 0px auto;
    margin-top: 50px;
    border-radius: 10px;
    width: 75%;
    text-align: center; 
    vertical-align: middle;
    margin-bottom: 50px;
  }

  th {
    border-radius: 5px;
    border-bottom: 3px solid #CCCCCC;
    height: 70px;
    border-right: #CCCCCC;
  }

  td {
    height: 50px;
  }